{% block search %} {% include "search.html" %}{% endblock %}
<div id="viewroom"></div>
<script type="text/javascript">
    $('#search').typeahead({
        hint: true,
        highlight: true,
        minLength: 1
    }, {
        name: 'res',
        source: function(query, process) {
            $.ajax({
                type: 'POST',
                url: 'autocomplete/',
                dataType: 'json',
                async: false,
                data: 'search=' + $('#search').val(),
                success: function(data) {
                    return process(data);
                },
            });
        },
    });


    $('#search').on('typeahead:selected', function(e, datum) {
        show_room(datum);
    });

    function show_room(x) {
        $.ajax({
            type: 'POST',
            url: 'getroom/',
            dataType: 'html',
            data: 'name=' + x,
            success: function(data) {
                $('#viewroom').html(data);
                var btn = $('<button id = "block_btn" type ="submit" class="btn btn-default">Block this room</button>');
                btn.click(function() {
                    $.ajax({
                        type: 'POST',
                        url: 'block_room/',
                        dataType: 'html',
                        data: 'id=' + $('#id').val(),
                        success: function(data) {
                            $('#block').click();
                        },
                    });
                    return false;
                });
                $('#button_group').append(btn);
            },
        });
    }
    $('#block_btn')
</script>