{% block search %} {% include "search.html" %}{% endblock %}
<div id="viewroom"></div>
<script type="text/javascript">
    $('#search').typeahead({
        hint: true,
        highlight: true,
        minLength: 1
    }, {
        name: 'res',
        source: function(query, process) {
            $.ajax({
                type: 'POST',
                url: 'autocomplete/',
                dataType: 'json',
                async: false,
                data: 'search=' + $('#search').val(),
                success: function(data) {
                    return process(data);
                },
            });
        },
    });


    $('#search').on('typeahead:selected', function(e, datum) {
        show_room(datum);
    });

    function add_buttons() {
    	var update_btn = $('<button class="btn btn-default">Update</button>');
    	$('#button_group').append(update_btn);
	}
    function show_room(x) {
        $.ajax({
            type: 'POST',
            url: 'getroom/',
            dataType: 'html',
            data: 'name=' + x,
            success: function(data) {
                $('#viewroom').html(data);
                add_buttons();
            },
        });
    }
    $('#block_btn')
</script>