<form method="POST" id="add_room" class="form-horizontal">
    {% csrf_token %}
    <div class="form-group">
        <label for="inputEmail3" class="col-sm-2 control-label">Name</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="name" placeholder="Room Name">
        </div>
    </div>
    <div class="form-group">
        <label for="inputPassword3" class="col-sm-2 control-label">Size</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="size" placeholder="Size">
        </div>
    </div>
    <div class="form-group">
        <label for="inputPassword3" class="col-sm-2 control-label">Location</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="location" placeholder="Size">
        </div>
    </div>
    <div class="form-group">
        <label for="inputPassword3" class="col-sm-2 control-label">Features</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="features" placeholder="Size">
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default">Add Room</button>
        </div>
    </div>
</form>
<script type="text/javascript">
    $.validator.setDefaults({
        highlight: function(element) {
            $(element).closest('.form-group').addClass('has-error');
        },
        unhighlight: function(element) {
            $(element).closest('.form-group').removeClass('has-error');
        },
        errorElement: 'span',
        errorClass: 'help-block',
        errorPlacement: function(error, element) {
            if (element.parent('.input-group').length) {
                error.insertAfter(element.parent());
            } else {
                error.insertAfter(element);
            }
        }
    });
    $(document).ready(function() {
        $('#add_room').validate({
            rules: {
                'name': {
                    required: true,
                },
                'location': {
                    required: true,
                },
                'features': {
                    required: true,
                },
                'size': {
                    required: true,
                    number: true,
                },
            },
        });
    });
    $("#add_room").submit(function() {
        if ($('#add_room').valid()){
            $.ajax({
                type: 'POST',
                url: 'add_room/',
                dataType: 'html',
                data: $(this).serialize(),
                success: function(x) {
                    $('#new').click();
                },
            });
        }
        return false;
    });
</script>