<div class="input-group search">
    <input id = "search" name = "search" type="text"style = "border-right: 0;"class="form-control" placeholder="Search">
    <span style="background: white !important; " class="input-group-addon">
        <button style = "border:0; background:transparent;"type="submit">
        <span class="glyphicon glyphicon-search"></span>
    </button>
    </span> 
</div>
<div id="viewroom"></div>
<script type="text/javascript">
    loadSearch();
    function getVAR(x) {
        var initial = $('#' + x).prop("defaultValue");
        var changed_val = $('#' + x).val();
        if (initial == changed_val) {
            return " ";
        } else {
            return changed_val;
        }
    }

    function update() {
        if (getVAR('name') == " " && getVAR('size') == " " && getVAR('location') == " " && getVAR('features') == " ") {

        } else {
            $.ajax({
                type: 'POST',
                url: 'update/',
                dataType: 'html',
                data: {
                    'id': $('#id').val(),
                    'name': getVAR('name'),
                    'size': getVAR('size'),
                    'loc': getVAR('location'),
                    'feat': getVAR('features'),
                },
            });
        }
        return false;
    }

	function change_status() {
		var status = $('#status').text();
		if (status == "Blocked"){
			$('#status').text('In Use');
		} else {
			$('#status').text('Blocked');
		}
	    $.ajax({
	        type: 'POST',
	        url: 'change_status/',
	        dataType: 'html',
	        data: 'id=' + $('#id').val(),
	    });
	    return false;
	}

    function add_buttons() {
        var update_btn = $('<button style="margin-left: 10px"class="btn btn-default">Update</button>');
        var block_btn = $('<button class="btn btn-default">Block/Unblock</button>');
        update_btn.click(update);
        block_btn.click(change_status);
        $('#button_group').append(update_btn);
        $('#button_group').append(block_btn);
    }

    function show_room(x) {
        $.ajax({
            type: 'POST',
            url: 'getroom/',
            dataType: 'html',
            data: {
                'name': x,
            },
            success: function(data) {
                $('#viewroom').html(data);
                add_buttons();
            },
        });
    }
</script>